/* ======================================TITLE================================= */
.ramda {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    margin-bottom: 38px;
    margin-top: 61px;
}

.ramda-b {
    color: #4bcaff;
}
/* ========================================CONTAINER=================================== */
.container {
    max-width: 1280px;
    margin: auto;
    height: 1000px;
}
/* =========================================HORIZANTAL NAVBAR======================================*/

.topnav {
    background-color: #35444f;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;

    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.topnav a:hover {
    background-color: #222f3a;
    color: rgb(255, 255, 255);
}

.topnav a.active {
    color: white;
}

.topnav-border-right {
    border-right: 1px solid #FFFFFF;
}

.otstup {
    white-space: pre;
}

/* ================================VERTICAL NAVBAR==================================== */

.vertical-menu {
    width: 344px; 
    margin-top: 50px;
    border: 1px solid #000000;
  }
  
  .vertical-menu a {
    background-color: #fff; 
    color: #485863; 
    display: block;
    padding: 12px; 
    text-decoration: none; 
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
    color: black;
    padding-left: 38px;
  }
  
  .vertical-menu a.active {
    color: white;
  }

/* ===========================================IMAGES======================================== */

.images {
    position: relative;
    left: 393px;
    top:-212px;
    border: 1px solid #000000;
    text-align: center;
    width: 885px;
    padding-top: 75px;
    padding-bottom: 73px;
    margin-bottom: -200px;
}

/* ===========================================Text=============================================== */


.p-size {
    width: 885px;
    margin-left: 393px;
    /* top: -400px; */
    /* text-align: right; */
}

/* ========================================NAV FOOTER=========================================== */

ul {
    list-style-type: none;
    margin-top: 54px;
    padding: 0;
    overflow: hidden;
    background-color: #b4b7b9;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color:lightseagreen;
    text-decoration: underline;
  }
  
  .active {
    /* background-color: #4CAF50; */
  }